
<!-- 單向 -->
<!-- <app-child [A]="counter" color="red" (AChange)="showA($event)">
</app-child>
<p *ngIf="homeA"> {{homeA}}</p> -->

<!-- 雙向 -->
<!-- <app-child [(A)]="counter" color="red">
</app-child>
<p> {{counter}}</p> -->


<div *ngTemplateOutlet="test; context:{A: counter}">

</div>


<!-- ng-template 一般使用 -->
<!-- <ng-template #test>
  <app-child-two-way #two_way></app-child-two-way>
  <p> two_way.counter: {{two_way.counter}}</p>
  <button (click)="two_way.addition()"> + 1</button>
</ng-template> -->

<!-- ng-template 參數帶入 -->
<ng-template #test let-testData = "A">
  <p> {{testData}}</p>
</ng-template>

<hr>

<div >
  <app-child-content>
    <p>插入測試</p>
    <p>插入測試2</p>
  </app-child-content>
</div>




